body {
    font-family: Calibri;}
p {
    font-family: Calibri;}
h1, h2, h3 {
    font-family: 'Courier New';
    color: red;}
a:link {
    color: red;text-decoration: none;}
a:visited {
    color: green;}
input[type="submit"]:hover {
    background-color: red;}
input[type="submit"]:active {
    background-color: green;}
ol {
    list-style-type: lower-roman;
    display: inline-block;
    text-align: left;}
ul {
    list-style-type: square;
    display: inline-block;
    text-align: left;}
tr:nth-child(even) {
    background-color: lightgray}
tr:hover {
    background-color: lightblue}